.inputsAddRowCont {
    /* background: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.indexProblemReport {
    position: relative;
    margin-left: 10px;
    width: 27px;
    height: 27px;
    background: rgba(255, 0, 0, 0.713);
}

.addRowCont {
    width: 33%;
    margin: auto;
}