.eventTag {
    border-radius: 10px;
    font-family: 'OpenSans_Medium';
    cursor: pointer;
    margin-top: 10px;
    padding: 10px;
    user-select: none;
    z-index: 1;
    position: absolute;
    top: 0;

    /* width: 15%; */
    transition: .2s;
    opacity: .85;
}

.eventTag:hover {
    transform: scale(1.1);
}

.eventTagOpen {
    /* width: 50%; */
    /* transition: .2s; */
}