* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(180deg, #526D82, #222c33);
}

a {
    text-decoration: none;
    color: white;
}

