.calendarTemp {
    cursor: pointer;
    display: flex;
    justify-content: center;
}
.dateUser {
    display: flex;
}
.dateChose {
    font-weight: bold;
}
.dateWindow {
    font-style: italic;
    text-decoration: underline;
}
.calendarContainer {
    margin-top: 30px;
    position: absolute;
}