/* Контейнер для формы, который занимает всю высоту экрана и центрирует содержимое */
.form-container {
    min-height: 100vh; /* Минимальная высота равна высоте окна браузера */
    width: 100%; /* Ширина 100% от контейнера */
    display: flex; /* Используем flexbox для центровки */
    justify-content: center; /* Центрируем содержимое по горизонтали */
    align-items: center; /* Центрируем содержимое по вертикали */
}

/* Карточка с формой для входа */
.form-container .login-card {
    height: fit-content; /* Автоматическая высота в зависимости от контента */
}

/* Группы полей формы */
.form-container .form-group {
    text-align: left; /* Выравнивание текста по левому краю внутри формы */
}

/* Адаптивные стили для экранов от 599px до 1400px */
@media only screen and (min-width: 599px) and (max-width: 1400px) {
    /* Уменьшение ширины карточки входа на более крупных экранах */
    .form-container .login-card {
        width: 30%; /* Устанавливаем ширину карточки на 30% от контейнера */
    }
    /* Уменьшение размера заголовка внутри карточки на более крупных экранах */
    .form-container .login-card h3 {
        font-size: 20px; /* Изменение размера шрифта заголовка */
    }
}
